<div data-role="footer" class="ui-bar">

</div>

<footer data-fole="footer">
  <p class="text-center">Copyright &copy; 2015</p>
  <div class="ui-bar" data-theme="b">
    <a href="clear" class="ui-btn" cell-width="150" data-theme="b">Frequently Asked Questions</a>
    <%= link_to "Home", root_path, {:class => "ui-btn"} %>
  </div>
</footer>