<footer data-role="footer" data-theme="b">
  <div class="ui-grid-d">
    <div class="ui-block-a"></div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c">Copyright &copy; 2015</div>
    <div class="ui-block-d"></div>
    <div class="ui-clock-e"></div>
  </div>

</footer>