  <div class="container-fluid welcome-header">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row header-text">
        <h1 class="text-left">About</h1>
      </div>

      <p>
        Thank you for visiting Denver Meetings! This site is the realization of a years-old dream to list Alcohlics Anonymous meetings in metro Denver in a user-friendly format. While the information on daccaa.org is great, the creator of this site and many others found AA meeting listings difficult to find.</p>
      <p>
        The biggest pain points we are trying to address are finding meetings from a mobile device, and finding meetings relative to a location. It is a work in progress, but we hope that you already find it to be of use! Please provide any feedback or just drop a note to say hello <%= mail_to "admin@denvermeetings.org", "here" %>.
      </p>
      <p>
        Disclaimer: This site is not affiliated with Alcoholics Anonymous, Denver Area Central Committee of Alcoholics Anonymous (daccaa.org) or any 12-step group. These listings are provided as a service only. No warranty is given or implied. Information found here is provided "as is" and is not intended to diagnose, prevent, or treat any disease.
      </p>
      <p>
        If you have a drinking problem, there is help. But you may have to take some action. Welcome!
      </p>


      </div>
    </div>
  <div class="col-sm-2"></div>
  </div>
