  <div class="container-fluid welcome-header">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row header-text">
        <h1 class="text-left">About</h1>
      </div>

      <p>Thank you for visiting Denver Meetings! This site is the realization of a years-old dream. It is a work in progress, but I hope that you already find it to be of use! Please provide any feedback <%= mail_to "matt.ewell@gmail.com", "here" %>.
      </p>
      <p>
        Disclaimer: This site is not affiliated with Alcoholics Anonymous or any 12-step group. These listings are provided as a service only. No warranty is given or implied. Information found here is provided "as is" and is not intended to diagnose, prevent, or treat any disease.
      </p>
      <p>
        If you have a drinking problem, there is help. But you have to ask. Welcome!
      </p>


      </div>
    </div>
  <div class="col-sm-2"></div>
  </div>
