  <div class="container-fluid welcome-header">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row header-text">
        <h1 class="text-left">FAQ</h1>
      </div>
      <div class="row meeting-button-row">
 

      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
Is this an AA site?        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse ">
      <div class="panel-body">
No, this site is not affiliated with Alcoholics Anonymous or any 12-step group. These listings are provided as a service only. No warranty is given or implied. Information found here is provided "as is" and is not intended to diagnose, prevent, or treat any disease.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
Can you do a site for my city/organization?       </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        At the time this was written, I am open to consulting or full-time employment opportunities. Please use the contact link or click <%= mail_to "matt.ewell@gmail.com", "here" %>.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
I'm not an alcoholic. Can I attend an AA meeting?       </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        Meetings designated as "open" are generally open to anyone. Some open meetings may welcome anyone but restrict sharing to those with a desire to stop drinking. It may be wise to show up a few minutes early to a meeting you are unsure about. Otherwise, a meeting's "format" (the text read by the chairperson) should clarify who may attend/participate in the meeting.
      </div>
    </div>
  </div>
        <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
Why are OMA Groups often relatively small? Covering so many genomes, I expected them to be much bigger.         </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
For the OMA Groups, we apply a very stringent grouping strategy. All the members of a group need to be bona fide orthologs to each other, i.e. the form a clique in graph-theoretic terms. This grouping strategy is mainly intended for applications which require orthologs of high confidence, e.g. for reconstructing species trees. A gene tree built from the members of an OMA Group should - in absence of LGT are incomplete lineage sorting - be congruent with the underlying species tree. If you are interested in larger groups, consider using the OMA HOGs. These hierarchical orthologous groups are defined as set of genes that all started diverging from a single ancestral gene at a given time point of reference.      </div>
    </div>
  </div>
        
            <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
          Under what licence is OMA distributed </a>      </h4>
    </div>
    <div id="collapseHeight" class="panel-collapse collapse">
      <div class="panel-body">
        The OMA Browser is available under the Creative Commons Attribution-Share Alike 2.5 License, and the OMA standalone package under the MPL 2.0 (open source) licence.</div>    </div>
  </div>
      
      
      
      
      
      















      </div>
    </div>
  <div class="col-sm-2"></div>
  </div>
