  <div class="container-fluid welcome-header">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row header-text">
        <h1 class="text-left">FAQ</h1>
      </div>

      <div class="row meeting-button-row">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Is this an AA site?
            </a>
            </h4>
          </div>
        <div id="collapseFour" class="panel-collapse collapse ">
          <div class="panel-body">
            No, this site is not affiliated with Alcoholics Anonymous or any 12-step group. These listings are provided as a service only. No warranty is given or implied. Information found here is provided "as is" and is not intended to diagnose, prevent, or treat any disease.</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            Can you do a site for my city/organization?
            </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
            At the time this was written, I am open to consulting or full-time employment opportunities. Please use the contact link or click <%= mail_to "matt.ewell@gmail.com", "here" %>.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            I'm not an alcoholic. Can I attend an AA meeting?
            </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
            Meetings designated as "open" are generally open to anyone. Some open meetings may welcome anyone but restrict sharing to those with a desire to stop drinking. It may be wise to show up a few minutes early to a meeting you are unsure about. Otherwise, a meeting's "format" (the text read by the chairperson) should clarify who may attend/participate in the meeting.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            This information is incorrect. Can you fix it?
            </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
            That is frustrating and I apologize for any inconvenience. The best thing to do would be to double-check the listing on <%= link_to "Denver AA's site", "http://www.daccaa.org/meetings.htm" %>. If the information is correct there and incorrect on this site, I am very interested to know. Please contact me <%= mail_to "matt.ewell@gmail.com", "here" %>. If the information with Denver AA is incorrect, please update them, and this site will be updated automatically. As a reminder, this site is not affiliated with AA at any level.
            </div>
          </div>
        </div>

      </div>
    </div>
  <div class="col-sm-2"></div>
  </div>
