  <div class="container-fluid welcome-header">
    <div class="row header-text">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="pull-right">Denver Meetings</h1>
        <% string = "Find a Meeting    >" %>
  <%= link_to string, meetings_path, {class: "btn btn-lg btn-default pull-right find-meetings-button"} %>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
