.container-fluid.welcome-header
  .col-sm-2
  .col-sm-8
    .row.meeting-button-row
      = link_to "Find an AA Meeting >", new_mobile_search_path, { class: "btn btn-lg btn-default center-block find-meetings-button", id: "meetings-button" }
      = link_to "Upcoming Nearby Meetings >", '', { class: "btn btn-lg btn-default center-block find-meetings-button", id: "big-here-button" }
  .col-sm-2

:javascript

  $("#big-here-button").click(function(e){
    e.preventDefault();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        "lat": position.coords.latitude,
        "lng": position.coords.longitude
      };

      var createUrl = '#{here_and_now_mobile_search_index_path(
       lat: "__LAT__", lng: "__LNG__", format: :html)}';
      createUrl = createUrl.replace("__LAT__", pos["lat"]).replace("__LNG__", pos["lng"]);

      window.location = createUrl;
      return false;
    });
    } else {
      alert("Geolocation cancelled or unsupported");
      return false;
     }
  });