  <div class="container-fluid welcome-header">
    <div class="row header-text">
        <h1 class="pull-right">Denver Meetings</h1>
      </div>
      <div class="row">
        <% string = "Find a Meeting    >" %>
  <%= link_to string, meetings_path, {class: "btn btn-lg btn-default pull-right find-meetings-button"} %>
</div>

  </div>
