.container-fluid.welcome-header
  .col-sm-2
  .col-sm-8
    .row.header-text
      %h1.pull-right Denver Meetings
    .row.meeting-button-row
      = link_to "Find a Meeting >", new_mobile_search_path, {class: "btn btn-lg btn-default center-block find-meetings-button", id: "meetings-button"}
  .col-sm-2
  