.container-fluid.welcome-header
  .col-sm-2
  .col-sm-8
    .row.header-text
      %h1.pull-right Denver Meetings
    .row.meeting-button-row
      = link_to "Find a Meeting >", new_mobile_search_path, {class: "btn btn-lg btn-default center-block find-meetings-button", id: "meetings-button"}
  .col-sm-2

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82510602-1', 'auto');
  ga('send', 'pageview');
