  <div class="container-fluid welcome-header">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row header-text">
        <h1 class="pull-right">Denver Meetings</h1>
      </div>
      <div class="row meeting-button-row">
  <%= link_to "Find a Meeting >", new_mobile_search_path, {class: "btn btn-lg btn-default center-block find-meetings-button", id: "meetings-button"} %>
      </div>
    </div>
  <div class="col-sm-2"></div>
  </div>
