<div class="collapsible-set">
  <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <h3>Day/Time</h3>
      <%= select_tag(:day, options_for_select(@options.days_select), {class: "menu-element"}) %>
      <%= select_tag(:time, options_for_select(@options.times_select), {class: "menu-element"}) %>
  </div>
</div>