.collapsible-set
  %div{"data-collapsed-icon" => "carat-d", "data-expanded-icon" => "carat-u", "data-role" => "collapsible"}
    %h3 Day/Time
    .day-element
      = select_tag(:day, options_for_select(@options.days), {class: "menu-element"})
    = select_tag(:time, options_for_select(@options.times), {class: "menu-element"})
