%footer{ 'data-role' => "footer", 'data-theme' => "b", 'style' => "text-align:center;", "data-tap-toggle" => "true" }
  %div{ 'data-role' => "controlgroup", 'data-type' => "horizontal" }
    = link_to "Back", :back, { class: "ui-btn ui-corner-all ui-shadow ui-icon-arrow-l ui-btn-icon-notext" }
    = link_to "New", new_mobile_search_path, { class: "ui-btn ui-corner-all ui-shadow ui-icon-back ui-btn-icon-notext" }
    = link_to "Home", root_path, { class: "ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-notext" }