<div class="collapsible-set">
  <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <h3>Group Name</h3>
      <%= select_tag(:group_name, options_for_select(@options.names_select), {class: "menu-element"}) %>
      <%= text_field_tag :group_text, "(Optional search text)", { class: "group-text group-text-default" }  %>
  </div>
</div>