<div data-role="header" data-theme="b">
  <h1>placeholder</h1>
</div>
<%= form_tag(controller: "mobile/search", action: "create", method: "post") do %>
  <div data-role="content" data-theme="b">
    <div class="menu-panel">
      <div class="inner-header">
        <% cities = RawMeeting.pluck(:city).uniq %>
        <% cities_options = cities.zip(cities) %>
        <%= select_tag(:city, options_for_select(cities_options), {class: "menu-element"}) %>

   </div>
   </div>
    <div class="menu-panel">
    <div class="inner-header">


  <% submit_tag("Show Meetings") %>
<% end %>



