 $primary-text: #DD9833;


 // Landscape phones and down
 // @media (max-width: 480px)

  // Landscape phone to portrait tablet
 //  @media (max-width: 768px) { ... }

  // Portrait tablet to landscape and desktop
  // @media (min-width: 768px) and (max-width: 980px) { ... }

  // Large desktop
  // @media (min-width: 1200px) {}

  body {
    background-color: #263248;
  }

  p {
    color: $primary-text;
  }

  h1 {
    color: $primary-text;
  }

  h3 {
    color: white;
    font-weight: lighter;
  }

  .btn-default {
    background: none;
    color: white;
    border-color: white;
  }

  .btn-default:hover {
    background: none;
    color: $primary-text;
    border-color: $primary-text;
  }

@media (min-width: 480px) {

  body {
    margin-bottom: 40px;
  }

  .find-meetings-button {
    margin-top: 50px;
  }

  .welcome-header {
    margin-top: 150px;
  }

  footer {
    margin-top: 150px;
  }

  h1 {
    margin-top: 50px;
    font-size: 5em;
  }

  h3 {
    color: white;
    font-weight: lighter;
  }

  .btn-default {
    border-width: 2px;
    border-color: white;
  }

  .btn-default:hover {
    border-width: 2px;
  }

}

@media (max-width: 480px) {

  .find-meetings-button {
    margin-top: 20px;
  }

  .welcome-header {
    margin-top: 50px;
  }

  footer {
    margin-top: 50px;
  }

  h1 {
    margin-top: 50px;
    font-size: 5em;
  }

  h3 {
    color: white;
    font-weight: lighter;
  }

  .btn-default {
    border-width: 2px;
    border-color: white;
  }

  .btn-default:hover {
    border-width: 2px;
  }
}
