<div class="container container-fluid dashboard--main">
  <div class="row">
    <%= link_to "Manage Meetings", admin_meetings_path, class: "btn btn-success" %>
  </div>
  <div class="row">
    <%= link_to "Manage Users", admin_users_path, class: "btn btn-success" %>
  </div>
</div>

<style>
  .dashboard--main {
    margin-top: 5em;
  }

  .dashboard--main .row {
    margin-bottom: 1em;
  }
</style>
