<% if flash.to_a.length > 0 %>
  <div class="alert-container"></div>
<% end %>
<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>" role="alert">
    <%= raw(message) %>
  </div>
<% end %>
