<footer class="footer container-fluid">
  <div class="row center-block">
    <div class="col-lg-4"></div>
    <div class="col-lg-2" id="copyright">
      <p class="text-center">Copyright &copy; 2015</p>
    </div>
    <div class="col-lg-4"></div>
  </div>
</footer>