<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand">DenverMeetings</a>
  <ul class="nav pull-right">
    <li class="navbar-brand">About</li>
    <li class="navbar-brand">FAQ</li>
  </ul>
</nav>